<nav class="container-fluid">
    <ul>
        <li>
            <a href="/"><strong>Home</strong></a>
        </li>
    </ul>
    <ul>
        
        <% if(!locals.isAdmin){ %>
        <li><a href="/products">Browse the goods</a></li>
        <li><a href="/cart">My shopping cart</a></li>
        <% } %>

        <% if(locals.isAuth && !locals.isAdmin){ %>
        <li><a href="/order">My history orders</a></li>
        <% } %>

        <% if(locals.isAdmin){ %>
        <li><a href="/admin/products">Manage products</a></li>
        <li><a href="/admin/orders">Manage orders</a></li>
        <% } %>
            
        <% if(!locals.isAuth){ %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <% } %>

        <% if(locals.isAuth){ %>
        <li>
            <form action="/logout" method="POST" id="logout-form" style="margin-bottom: 0;">
                <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf"/>
                <button class="button" id="logout-btn">logout</button>
            </form>
        </li>
        <% } %>
    </ul>
</nav>
<br>
